@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-chart-one">
        <div class="widget-heading">
            <h5 class="">ข้อมูลLocation</h5>

        </div>
        <div class="widget-content ">

            <div class="form-row mb-4">
                <div class="form-group col-md-12">
                    <label for="inputEmail4">ประเภทผู้สมัคร</label> <br />
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1" value="N" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">New Subcontract</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="customRadioInline1" value="D" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">Dealer</label>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="inputEmail4">Location Code</label>
                    <input type="text" class="form-control" id="txtLocationCode" placeholder="Location Code">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Location Name(TH)</label>
                    <input type="text" class="form-control" id="txtLocationNameT" placeholder="Location Name(TH)">
                </div>


                <div class="form-group col-md-6">
                    <label for="inputPassword4">Location Name(EH)</label>
                    <input type="text" class="form-control" id="txtLocationNameE" placeholder="Location Name(EH)">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Phone No</label>
                    <input type="text" class="form-control" id="txtPhone" placeholder="Phone No">
                </div>


            </div>



            <div style="text-align:center">

                <button class="btn btn-dark mb-2" type="button" id="btnclear" onclick="clearData()">
                    <i class="fa fa-refresh icon"></i><span>ล้างข้อมูล</span>
                </button>
                @*<button class="btn btn-success mb-2" type="button" id="btnSearch" onclick="SearchCompany()">
                <i class="fa fa-search icon"></i><span>ค้นหาข้อมูล</span>
            </button>*@
                <button class="btn btn-success mb-2" type="button" id="btnSearch" onclick="SearchLocation()">
                    <i class="fa fa-search icon"></i><span>ค้นหาข้อมูล</span>
                </button>
                @*<button class="btn btn-dark mb-2">ล้างข้อมูล</button>
            <button class="btn btn-success mb-2">ค้นหาข้อมูล</button>*@

            </div>
            <div style="text-align:right">

                <button class="btn btn-success mb-2" type="button" id="btnNew" onclick="addNew()">
                    <i class="fa fa-search icon"></i><span>New Location</span>
                </button>

            </div>

        </div>


        <br />
        <div class="widget-heading">
            <h5 class="">ผลการค้นหา</h5>
        </div>
            @*</div>
                <div class="col-md-12 text-right mb-1">
                    <button id="add-work-platforms" class="btn btn-success mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>เพิ่ม</button>

                </div>*@


            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4" id="SearchLocationResult">
                    <thead class="thead-light">
                        <tr>
                            @*<th class="checkbox-column">
                                    <label class="new-control new-checkbox checkbox-primary" style="height: 18px; margin: 0 auto;">
                                        <input type="checkbox" class="new-control-input todochkbox" id="selectAll">
                                        <span class="new-control-indicator"></span>
                                    </label>
                                </th>*@
                            <th>LocationID</th>
                            <th>Storage Location</th>
                            <th>location_code</th>
                            <th>Location Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>



@section scripts
{

    <script type="text/javascript">


        //$('#regisdatefrom').datepicker({
        //    format: 'dd/mm/yyyy',
        //    daysOfWeekHighlighted: "6,0",
        //    autoclose: true,
        //    todayHighlight: true,
        //    clearBtn: true,
        //});
        //$('#regisdateto').datepicker({
        //    format: 'dd/mm/yyyy',
        //    daysOfWeekHighlighted: "6,0",
        //    autoclose: true,
        //    todayHighlight: true,
        //    clearBtn: true,

        //});
        function addNew() {
            localStorage.clear();
            var getID = [{
                locationId: '0'
            }];
            localStorage.setItem('loID', JSON.stringify(getID));
            location.href = '@Url.Action("_PartialLocation", "Profile")';
        }

        function clearData() {
            //$("#chktype").val(),
            $("#ddlLocationCode").val("");
            $("#txtVenderCode").val("");
            $("#txtCompanyNameT").val("");
            $("#txtCompanyNameE").val("");
            $("#txtCompanyAlias").val("");
            $("#txtCompanyCode").val("");
            //$("#ddldistribution").val();
            //$("#ddlchannelsalegroup").val();
            var table = $('#SearchLocationResult').DataTable();
            table.destroy();
        }

        function getAllLocation() {
            var groupId = '0';
            var tbCompany = $('#SearchLocationResult').DataTable({
                ajax: {

                    type: "POST",
                    dataType: 'JSON',
                    url: "/Profile/GetLocation",
                    data: { 'LocationId': groupId },
                    dataSrc: function (data) {
                        //var val = []
                        //val = ConcatstrAddress(data.data);
                        //data.data = val;
                        return data.data;
                    },
                    error: function (xhr, status, error) {
                        //Loading(0);
                        //clearForEdit();
                        console.log(status);
                        //showFeedback("error", xhr.responseText, "System Information",
                            //"<button type='button' class='btn-border btn-black' data-dismiss='modal' id='btncancelpopup'><i class='fa fa-ban icon'></i><span>Cancel</span></button >");
                    }
                },
                columns: [
                    { "data": "LocationId", "visible": false },
                    { "data": "StorageLocation" },
                    { "data": "LocationCode" },
                    { "data": "LocationNameTh" },
                    {
                        "data": null,
                        orderable: false,
                        "defaultContent": "<button id='btnEdit' class='btn-border btn-green edit_btn'><i class='fa fa-edit icon'></i><span>แก้ไข</span></button><button id='btnDel' class='btn-border btn-black delete_btn'><i class='fa fa-trash icon'></i><span>ลบ</span></button>"

                    }
                ],
            });

            $('#SearchLocationResult tbody').on('click', 'button', function () {
                var table = $('#SearchLocationResult').DataTable();
                var id = this.id;
                var data = table.row($(this).parents('tr')).data();
                //var data = table.row(this).data();
                var val = data['locationId'];
                if (id == 'btnEdit') {
                    localStorage.clear();
                    var getID = [{
                        locationId: val
                    }];
                    localStorage.setItem('loID', JSON.stringify(getID));
                    location.href = '@Url.Action("_PartialLocation", "Profile")';
                }
                if (id == 'btnDel')
                    DelCompany(val);

            });
        }

        function SearchLocation() {
            var table = $('#SearchLocationResult').DataTable();
            table.destroy();
            var registerType;
            if (document.getElementById('customRadioInline1').checked) {
                var registerType = document.getElementById('customRadioInline1').value;
            } else {
                var registerType = document.getElementById('customRadioInline2').value;
            }
            if ($("#txtLocationCode").val() !== ""  || $("#txtLocationNameT").val() !== "" || $("#txtLocationNameE").val() !== "" || $("#txtPhone").val() !== "") {
                var data = {
                    "CompanyId": " ",//$("#chktype").val(),
                    "LocationCode": $("#txtLocationCode").val(),
                    "LocationNameTh": $("#txtLocationNameT").val(),
                    "LocationNameEn": $("#txtLocationNameE").val(),
                    "Phone": $("#txtPhone").val()
                };

                var tbCompany = $('#SearchLocationResult').DataTable({
                    ajax: {

                        type: "POST",
                        //dataType: 'JSON',
                        url: "/Profile/SearchLocation",
                        data: { Company: data },
                        dataSrc: function (data) {
                            return data.data;
                        },
                        error: function (xhr, status, error) {
                            //console.log(status);
                            //showFeedback("error", xhr.responseText, "System Information",
                            //"<button type='button' class='btn-border btn-black' data-dismiss='modal' id='btncancelpopup'><i class='fa fa-ban icon'></i><span>Cancel</span></button >");
                        }

                    },
                    columns: [
                        { "data": "LocationId", "visible": false },
                        { "data": "StorageLocation" },
                        { "data": "LocationCode" },
                        { "data": "LocationNameTh" },
                        {
                            "data": null,
                            orderable: false,
                            "defaultContent": "<button id='btnEdit' class='btn-border btn-green edit_btn'><i class='fa fa-edit icon'></i><span>แก้ไข</span></button><button id='btnDel' class='btn-border btn-black delete_btn'><i class='fa fa-trash icon'></i><span>ลบ</span></button>"

                        }
                    ],
                });

                $('#SearchLocationResult tbody').on('click', 'button', function () {
                    var table = $('#SearchLocationResult').DataTable();
                    var id = this.id;
                    var data = table.row($(this).parents('tr')).data();
                    //var data = table.row(this).data();
                    var val = data['locationId'];
                    if (id == 'btnEdit') {
                        localStorage.clear();
                        var getID = [{
                            locationId: val
                        }];
                        localStorage.setItem('loID', JSON.stringify(getID));
                        location.href = '@Url.Action("_PartialLocation", "Profile")';
                    }

                    if (id == 'btnDel') {
                        DelLocation(val);
                    }

            });
            }
            else {
                getAllLocation();
            }
        }

        function DelLocation(loId) {
            //var comId = 'a8bf8003-22dc-4e22-add6-7564e41f312c';
            $.ajax({
                url: "/Profile/DeleteLocation",
                dataType: 'JSON',
                data: { 'LocationId': loId },
                type: 'POST',
                success: function (result) {
                    //alert("success");
                },
                error: function (result) {
                    //alert("error");
                }
            });
        }

    </script>

}