
<div class="row my-3">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <p class="font-weight-bolder lead">
            สรุปข้อมูลผู้สมัคร
        </p>
        <hr />
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">ประเภทผู้สมัคร :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">New Subcontract</label>
        </div>
    </div>
</div>
<div class="row my-3">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <p class="font-weight-bolder lead">
            Create Channel
        </p>
        <hr />
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">Distribution Channel :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxx</label>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">Channel Sale Group :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxx</label>
        </div>
    </div>
</div>
<div class="row my-3">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <p class="font-weight-bolder lead">
            ข้อมูลบริษัท
        </p>
        <hr />
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">เลขทะเบียนนิติบุคคล :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxx</label>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">ชื่อย่อบริษัท :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxx</label>
        </div>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">ชื่อนิติบุคคล(ไทย) :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxxxxxxxx</label>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">ชื่อนิติบุคคล(อังกฤษ) :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxxxxxxxx</label>
        </div>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">ชื่อภาษีหัก ณ ที่จ่าย :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxxxxxxxx</label>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">ภาษีมูลค่าเพิ่ม :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxxxxxxxx</label>
        </div>
    </div>
</div>
<div class="row my-3">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <p class="font-weight-bolder lead">
            ข้อมูล ที่อยู่บริษัท
        </p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
    <div class="col-md-7 col-sm-7 col-xl-7 col-lg-7">
        <div class="table-responsive pt-3">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>ประเภทที่อยู่</th>
                        <th>ที่อยู่</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ที่อยู่ตามใบกำกับภาษี</td>
                        <td>34/203 หมู่บ้านภัสสร ต.คลองสาม อ.คลองหวงง จ.ปทุมธานี 12120</td>
                    </tr>
                    <tr>
                        <td>ที่อยู่จัดส่งเอกสาร</td>
                        <td>34/203 หมู่บ้านภัสสร ต.คลองสาม อ.คลองหวงง จ.ปทุมธานี 12120</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
    <div class="col-md-7 col-sm-7 col-xl-7 col-lg-7">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <span class="page-link">
                        2
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>

</div>
<div class="row my-3">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <p class="font-weight-bolder lead">
            ข้อมูล ติดต่อบริษัท
        </p>
        <hr />
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">อีเมล์ บริษัท :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxx@xxxxx.com</label>
        </div>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">ชื่อผู้ติดต่อ :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxxxxxxxx</label>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">เบอร์โทร :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxxxxxxxx</label>
        </div>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">อีเมล์ :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxx@xxxxx.com</label>
        </div>
    </div>
</div>
<div class="row my-3">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <p class="font-weight-bolder lead">
            ข้อมูล ติดต่อแผนก
        </p>
        <hr />
    </div>
</div>
<div class="row my-3">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-left">
        <p class="font-weight-bolder lead">
            แผนกติดตั้ง
        </p>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">ชื่อผู้ติดต่อ :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxxxxxxxx</label>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">เบอร์โทร :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxxxxxxxx</label>
        </div>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">อีเมล์ :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxx@xxxxx.com</label>
        </div>
    </div>
</div>
<div class="row my-3">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-left">
        <p class="font-weight-bolder lead">
            แผนกซ่อมบำรุง
        </p>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">ชื่อผู้ติดต่อ :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxxxxxxxx</label>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">เบอร์โทร :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxxxxxxxx</label>
        </div>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">อีเมล์ :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxx@xxxxx.com</label>
        </div>
    </div>
</div>
<div class="row my-3">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-left">
        <p class="font-weight-bolder lead">
            แผนกบัญชี
        </p>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">ชื่อผู้ติดต่อ :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxxxxxxxx</label>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">เบอร์โทร :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxxxxxxxx</label>
        </div>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">อีเมล์ :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxx@xxxxx.com</label>
        </div>
    </div>
</div>
<div class="row my-3">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <p class="font-weight-bolder lead">
            ข้อมูล บัญชีธนาคาร
        </p>
        <hr />
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">ชื่อธนาคาร :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxxxxxxxx</label>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">ชื่อสาขา :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxxxxxxxx</label>
        </div>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">ประเภทบัญชี :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxxxxxxxx</label>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">เลขที่บัญชี :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxxxxxxxx</label>
        </div>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">ชื่อบัญชี :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxxxxxxxx</label>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">ประเภทธุรกิจ :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">xxxxxxxxxxxx</label>
        </div>
    </div>
</div>
<div class="row my-3">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <p class="font-weight-bolder lead">
            ข้อมูล เอกสารบริษัท
        </p>
        <hr />
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">หนังสือรับรองบริษัท :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">Xxxxxxxxxxxxx.png</label>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">หนังสือทะเบียนพานิช :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">Xxxxxxxxxxxxx.png</label>
        </div>
    </div>
</div>
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-form-label text-right">หนังสือ ภ.พ. 20 :</label>
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">Xxxxxxxxxxxxx.png</label>
        </div>
    </div>
</div>