
@{
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";

}

<div class="row justify-content-center">
    <div class="grid-margin stretch-card col-md-12 ">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="form-group my-4">
                <div class="card-header bg-white">
                    <h3>ข้อมูลผู้สมัคร</h3>
                </div>
            </div>

            <div class="card-body">

                @*<div class="form-group">*@
                <div id="smartwizard" >
                    <ul>
                        <li><a href="#step-1">Step 1</a></li>
                        <li><a href="#step-2">Step 2</a></li>
                        <li><a href="#step-3">Step 3</a></li>
                        <li><a href="#step-4">Step 4</a></li>
                        <li><a href="#step-5">Step 5</a></li>
                    </ul>
                    <div>
                        <div id="step-1">

                            @await Html.PartialAsync("_PartialStep1")

                        </div>
                        <div id="step-2">

                            @await Html.PartialAsync("_PartialStep2")

                        </div>
                        <div id="step-3">

                            @await Html.PartialAsync("_PartialStep3")

                        </div>
                        <div id="step-4">

                            @await Html.PartialAsync("_PartialStep4")

                        </div>
                        <div id="step-5">

                            @await Html.PartialAsync("_PartialStep5")

                        </div>
                    </div>

                </div>



            </div>
            <div class="row">

                <div class="col-md-12 col-sm-12 ">


                    <div role="group" class="float-right" style="margin-right:120px">
                        <button class="btn btn-secondary" id="prev-btn" type="button">ย้อนกลับ</button>
                        <button class="btn btn-danger" id="reset-btn" type="button">ล้างข้อมูล</button>
                        <button class="btn btn-success" id="next-btn" type="button">ถัดไป</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {


        $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {
            //alert("You are on step "+stepNumber+" now");
            if (stepPosition === 'first') {
                $("#prev-btn").addClass('disabled');
            } else if (stepPosition === 'final') {
                $("#next-btn").addClass('disabled');
            } else {
                $("#prev-btn").removeClass('disabled');
                $("#next-btn").removeClass('disabled');
            }
        });

        // Toolbar extra buttons
        //var btnFinish = $('<button></button>').text('Finish')
        //                                 .addClass('btn btn-info')
        //                                 .on('click', function(){ alert('Finish Clicked'); });
        //var btnCancel = $('<button></button>').text('Cancel')
        //                                 .addClass('btn btn-danger')
        //                                 .on('click', function(){ $('#smartwizard').smartWizard("reset"); });


        // Smart Wizard
        $('#smartwizard').smartWizard({
            selected: 0,
            theme: 'arrows',
            transitionEffect: 'fade',
            showStepURLhash: true,


        });

        $('.sw-btn-group').hide();

        // External Button Events
        $("#reset-btn").on("click", function () {
            // Reset wizard

            $('#smartwizard').smartWizard("reset");
            $('.sw-btn-group').hide();
            return true;
        });

        $("#prev-btn").on("click", function () {
            // Navigate previous
            $('#smartwizard').smartWizard("prev");
            return true;
        });

        $("#next-btn").on("click", function () {
            // Navigate next
            $('#smartwizard').smartWizard("next");
            return true;
        });


    });</script>
