<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/vendors/base/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css">

    <!-- Include SmartWizard CSS -->
    <link href="~/dist/css/smart_wizard.css" rel="stylesheet" type="text/css" />

    <!-- Optional SmartWizard theme -->
    <link href="~/dist/css/smart_wizard_theme_arrows.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/css/main_button.css" rel="stylesheet" />


    <!-- plugins:js -->
    <script src="~/vendors/base/vendor.bundle.base.js"></script>
    <script src="~/vendors/chart.js/Chart.min.js"></script>
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/todolist.js"></script>
    <script src="~/js/chart.js"></script>
    <script src="~/js/file-upload.js"></script>
    @*endinject
        Custom js for this page*@
    <script src="~/js/dashboard.js"></script>
    <script src="~/jquery/jquery.js"></script>


    <script src="~/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/popper.js/umd/popper.js"></script>

    <script src="~/lib/moment.js/moment.js"></script>
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <!-- Include SmartWizard JavaScript source -->
    <script type="text/javascript" src="~/dist/js/jquery.smartWizard.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <div class="container my-5">
        @RenderBody()
    </div>
</body>
</html>
