<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />*@


    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />

    <link href="~/lib/fonts/fonts.css" rel="stylesheet" />
    <link href="~/lib/css/main.css" rel="stylesheet" />
    <link href="~/lib/css/responsive.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/css/main_button.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/css/style.css">*@

    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <!-- plugins:css -->
    @*<link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css">
        <link rel="stylesheet" href="~/vendors/base/vendor.bundle.base.css">*@
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    @*<link rel="stylesheet" href="~/css/style.css">*@

    <!-- plugins:js -->
    @*<script src="~/vendors/base/vendor.bundle.base.js"></script>*@
    <!-- endinject -->
    <!-- Plugin js for this page-->
    @*<script src="~/vendors/chart.js/Chart.min.js"></script>*@
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    @*<script src="~/js/off-canvas.js"></script>
        <script src="~/js/hoverable-collapse.js"></script>
        <script src="~/js/template.js"></script>
        <script src="~/js/todolist.js"></script>
        <script src="~/js/chart.js"></script>
        <script src="~/js/file-upload.js"></script>*@
    @*endinject
        Custom js for this page*@
    @*<script src="~/js/dashboard.js"></script>*@


    <script src="~/jquery/jquery.js"></script>
    <script src="~/lib/popper.js/umd/popper.js"></script>

    <script src="~/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/moment.js/moment.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script src="~/lib/assets/revamp/js/plugins/jquery.matchHeight-min.js"></script>
    <script src="~/js/jsMain/jquery.sticky-sidebar.js"></script>


    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    @RenderSection("Scripts", required: false)
</head>
<body>
    <div class="container my-5">
        @RenderBody()
    </div>
</body>
</html>
