@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DataTables.AspNetCore.Mvc

@{ Layout = "~/Views/Shared/_Layout.cshtml"; ViewBag.Title = "Company Profile";
}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-chart-one">
        <div class="widget-heading">
            <h5 class="">ข้อมูลบริษัท</h5>

        </div>
        <div class="widget-content ">

            <div class="form-row mb-4">
                <div class="form-group col-md-12">
                    <label for="inputEmail4">ประเภทผู้สมัคร</label> <br />
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">New Subcontract</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">Dealer</label>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="inputEmail4">ชื่อบริษัท (ไทย)</label>
                    <input type="text" class="form-control" id="inputCompanynameTh" placeholder="Company Name (TH)">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">ชื่อบริษัท (อังกฤษ)</label>
                    <input type="text" class="form-control" id="inputCompanynameEn" placeholder="Company Name (EN)">
                </div>

                <div class="form-group col-md-6">
                    <label for="inputEmail4">Company Ailas</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="Company Ailas">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Company Code</label>
                    <input type="text" class="form-control" id="inputPassword4" placeholder="Company Code">
                </div>

                <div class="form-group col-md-6">
                    <label for="inputEmail4">Distribution Channel</label>
                    <select class="placeholder js-states form-control">
                        <option>Choose...</option>
                        <option value="one">First</option>
                        <option value="two">Second</option>
                        <option value="three">Third</option>
                        <option value="four">Fourth</option>
                        <option value="five">Fifth</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Channel Sale Group</label>
                    <select class="placeholder js-states form-control">
                        <option>Choose...</option>
                        <option value="one">First</option>
                        <option value="two">Second</option>
                        <option value="three">Third</option>
                        <option value="four">Fourth</option>
                        <option value="five">Fifth</option>
                    </select>
                </div>

            </div>



            <div style="text-align:center">



                <button id="btnClear" class="btn btn-dark mb-2">ล้างข้อมูล</button>
                <button id="btnSearch" class="btn btn-success mb-2">ค้นหาข้อมูล</button>

            </div>


        </div>


        <br />
        <div class="widget-heading">
            <h5 class="">ผลการค้นหา</h5>

        </div>
        <div class="col-md-12 text-right mb-1">
            <button id="add-work-platforms" class="btn btn-success mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>เพิ่ม</button>

        </div>


        <div class="table-responsive">
            <table id="tbSearchResult" class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4">
                <thead>
                    <tr>
                        <th style="text-align:center">แก้ไข</th>
                        <th>ชื่อบริษัท(ไทย)</th>
                        <th>ชื่อบริษัท(อังกฤษ)</th>
                        @*<th>รหัสผู้ขาย</th>*@
                        <th>Tax ID</th>
                        @*<th>ชื่อผู้ติดต่อ</th>
                            <th>เบอร์โทรศัพท์</th>
                            <th>อีเมล์</th>
                            <th>สถานะ</th>
                            <th>วันที่สมัคร</th>
                            <th>วันที่อนุมัติ</th>
                            <th>ที่อยู่</th>*@

                    </tr>
                </thead>
                <tbody></tbody>

            </table>


        </div>


    </div>

</div>

@section modalpanel {

    <div id="AddEditModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="hTitleEdit" class="modal-title">เพิ่มข้อมูลบริษัท</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="frNew" class="needs-validation" novalidate>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="txtCompanyCode">รหัสบริษัท <span style="color:red">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" id="txtCompanyCode" maxlength="4" class="form-control" placeholder="รหัสบริษัท" required>

                                <div class="invalid-feedback">
                                    กรุณากรอกรหัสบริษัท
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="txtCompanyName">ชื่อบริษัท <span style="color:red">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" id="txtCompanyName" maxlength="255" class="form-control" placeholder="ชื่อบริษัท" required>
                                <div class="invalid-feedback">
                                    กรุณากรอกชื่อบริษัท
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="txtRegisNum">ทะเบียนเลขที่ <span style="color:red">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" id="txtRegisNum" maxlength="15" class="form-control" placeholder="ทะเบียนเลขที่" required>
                                <div class="invalid-feedback">
                                    กรุณากรอกทะเบียนเลขที่
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2">Active</label>
                            <div class="col-sm-10">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="rdoActiveTrue" name="rdoActive" value="true" class="custom-control-input" checked>
                                    <label class="custom-control-label" for="rdoActiveTrue">
                                        Yes
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="rdoActiveFalse" name="rdoActive" value="false" class="custom-control-input">
                                    <label class="custom-control-label" for="rdoActiveFalse">
                                        No
                                    </label>
                                </div>

                            </div>
                        </div>
                        <input type="hidden" id="hdMode">
                        <input type="hidden" id="hdCompanyCode">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                                ปิด
                            </button>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                บันทึก
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
            var oTable;
            $(document).ready(function () {
                inittbSearchResult();
                $("#btnSearch").click(function (e) {
                    searchdata();
                });
            });

            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        } else {
                           // onSave();
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);

           function inittbSearchResult() {
          var oTable = $('#tbSearchResult').DataTable({
                processing: true, // for show progress bar
                serverSide: true, // for process server side
                filter: false, // this is for disable filter (search box)
                orderMulti: false, // for disable multiple column at once
                pageLength: 10,
                order: [],
                autoWidth: false,
                searching: false,
                destroy: true,
                lengthChange: false,
                "oLanguage": {
                    "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                    "sInfo": "Showing page _PAGE_ of _PAGES_",
                    "sSearch": false,
                    "sLengthMenu": "Results :  _MENU_",
                },
                 "scrollX": true,
                  "language": {
                  "zeroRecords": "No data found.",
                   "decimal": ",",
                  "thousands": "."
                    },
                    ajax: {
                        url: '@Url.Action("LoadData", "Test2")',
                        type: "POST",
                        datatype: "JSON",
                        //dataSrc:"",
                        data: function (d) {
                            d.p_companyName = $("#inputCompanynameTh").val()
                        }
                    },
                    columns: [

                        {
                            data: null,width:"10%", render: function (data, type, row) {
                                return "<a href='#' onclick=openModal('edit','" + row.companyId +"');return false;  data-toggle='modal' data-target='.bd-addedit-modal-xl' ><svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-edit'><path d='M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7'></path><path d='M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z'></path></svg></a>";
                            },
                           // orderable: false,
                            //className: 'text-center'
                        },
                        { "data": "CompanyNameTh", "width": "30%"  },
                        { "data": "CompanyNameEn", "width": "30%"  },
                        //{ "data": "VendorCode", "width": "50%" },
                        { "data": "TaxId", "width": "30%" },

                        //{ "data": "ContractName", "width": "30%" },
                        //{ "data": "ContractPhone", "width": "30%" },
                        //{ "data": "ContractEmail", "width": "30%" },
                        //{ "data": "Status", "width": "30%" },
                        //{ "data": "ActivateDate", "width": "30%" },
                        //{ "data": "CreateDate", "width": "30%" },
                        //{ "data": "CompanyAddress", "width": "100%" },
                ],
                "order": [[0, "desc"]],
                "stripeClasses": [],
                drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }

                });

        }

        function searchdata() {
            oTable.ajax.reload();
        }

        function openModal(mode, companyId) {

           // clearData();
            $('#hdMode').val(mode);
            $('#hdCompanyCode').val(companyId);

            if (mode == "edit") {
                $("#txtCompanyCode").prop("disabled", true);
                $("#hTitleEdit").text('แก้ไขรายการ');
                getDataById(companyId);
            }
            else {
                $("#hTitleEdit").text('เพิ่มรายการ');
                $("#txtCompanyCode").prop("disabled", false);

                // let form = $('#frNew');
                $("#frNew")[0].reset();
                //form.find('button').on('click', (event) => {
                //    form.find('input, select, textarea').val('');
                //});
            }

            $('#AddEditModal').modal('show');

        }

        function clearData() {
            $("#txtCompanyCode").val('');
            $("#txtCompanyName").val('');
            //$("#txtRegisNum").val('');
            //$('#hdMode').val('');
            //$('#hdCompanyCode').val('');
            //$("[name=rdoActive]").filter("[value='true']").prop("checked", true);
        }

          function getDataById(companyId) {
          $.ajax({
                   url: '@Url.Action("GetDataById", "Company")',
                   type: 'POST',
                   data: JSON.stringify({
                       "p_companyCode": companyId
                   }),
                   dataType: "json",
                 //  contentType: "application/json; charset=utf-8",
                  success: function (result) {

                       $("#txtCompanyCode").val(result.companyCode);
                       $("#txtCompanyName").val(result.companyName);
                      $("#txtRegisNum").val(result.reqisNumber);

                      if (result.isActive == true) {
                          $("[name=rdoActive]").filter("[value='true']").prop("checked", true);
                      } else {
                          $("[name=rdoActive]").filter("[value='false']").prop("checked", true);
                      }

                  },
                  error: function (result) {

                  }

            });
    }

    function onSave() {
                $.ajax({
                   url: '@Url.Action("OnSave", "Company")',
                   type: 'POST',
                   data: JSON.stringify({
                       "p_companyCode": $('#txtCompanyCode').val()
                       , "p_companyName": $('#txtCompanyName').val()
                       , "p_regisNum": $("#txtRegisNum").val()
                       , "p_isActive": $('input[name="rdoActive"]:checked').val()
                       , "p_mode": $('#hdMode').val()
                   }),
                   dataType: "json",
                   contentType: "application/json; charset=utf-8",
                   success: function (result) {
                       if (result.Status == true) {
                           if ($('#hdMode').val() == 'edit') {
                               $('#AddEditModal').modal('hide');
                           } else {
                               bootbox.alert(result.Message);
                               clearData();
                           }

                           searchdata();

                            }
                            else {
                           bootbox.alert(result.Message);

                            }
                  },
                  error: function (result) {
                      bootbox.alert(result.Message);
                  }

            });

        }
            //$('#btnSearch').click(function () {
            //    var comments = $('#inputCompanynameTh').val();
            //    var selectedId = '1';// $('#hdnSelectedId').val();

            //    //$.ajax({
            //    //    url: "/Test2/SaveComments",
            //    //    data: { 'id': selectedId, 'comments': comments },
            //    //    type: "post",
            //    //    cache: false,
            //    //    dataType: "json",

            //    //    success: function (savingStatus) {
            //    //        //$("#hdnOrigComments").val($('#txtComments').val());
            //    //        //$('#lblCommentsNotification').text(savingStatus);
            //    //    },
            //    //    error: function (xhr, ajaxOptions, thrownError) {
            //    //        // $('#lblCommentsNotification').text("Error encountered while saving the comments.");
            //    //    }
            //    //});
            //});

    </script>
}


@*@(Html.Ext().Grid<SubcontractProfile.Web.Model.SubcontractProfileCompanyModel>().Name("tbSearchResult1").RowId("CompanyId")
        .Columns(cols =>
        {
            cols.Add(c => c.CompanyId).Data("CompanyId").Title("").Render(() => "onRender").Click("onClick");
            cols.Add(c => c.CompanyNameTh).Title("CompanyNameTh");
            cols.Add(c => c.CompanyNameEn).Title("CompanyNameEn");
            cols.Add(c => c.TaxId).Title("TaxId");
            //cols.Add(c => c.Position).Title("Position");
            //cols.Add(c => c.Salary).Visible(false).Title("Salary");
            //cols.Add(c => c.Created).Title("Date");
            //cols.Add(c => c.Id).Data("id").Title("").Render(() => "onRender").Click("onClick");
        })
        .ServerSide(true)
        .DataSource(c =>
            c.Ajax().Url("/Test2/LoadData").Method("POST")
        )
    )*@









