


<div class="row my-3">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <p class="font-weight-bolder lead">
            ข้อมูลที่อยู่บริษัท
        </p>
        <hr />
    </div>
</div>
<div class="row">
    <label class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-form-label text-center">ประเภทที่อยู่</label>
</div>

<div class="needs-validation-step2" novalidate>
    <div id="chkAddressType">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
                <div class="form-group row">
                    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="address_type_id" id="chkaddrbranch" value="01" required>
                            <label class="custom-control-label" for="chkaddrbranch"></label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="custom-control custom-checkbox">

                            <input type="checkbox" class="custom-control-input" name="address_type_id" id="chkaddrtax" value="06" required>
                            <label class="custom-control-label" for="chkaddrtax"></label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="custom-control custom-checkbox">

                            <input type="checkbox" class="custom-control-input" name="address_type_id" id="chkaddrwt" value="04" required>
                            <label class="custom-control-label" for="chkaddrwt"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
                <div class="form-group row">
                    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="custom-control custom-checkbox">

                            <input type="checkbox" class="custom-control-input" name="address_type_id" id="chkaddrdoc" value="02" required>
                            <label class="custom-control-label" for="chkaddrdoc"></label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="custom-control custom-checkbox">

                            <input type="checkbox" class="custom-control-input" name="address_type_id" id="chkaddrshipping" value="03" required>
                            <label class="custom-control-label" for="chkaddrshipping"></label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="custom-control custom-checkbox">

                            <input type="checkbox" class="custom-control-input" name="address_type_id" id="chkaddrpop" value="05" required>
                            <label class="custom-control-label" for="chkaddrpop"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="invalid-tooltip">Please choose valid address type.</div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label text-right">เลขที่ :</label>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <input type="text" class="form-control inputValidationAddress form-control-sm" id="txthomenumber" required />
                    <div class="invalid-tooltip">
                        Please provide a valid house no.
                    </div>
                </div>
                <label class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-form-label text-center">หมู่ที่ :</label>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <input type="text" class="form-control form-control-sm" id="txtVillageNo" />
                    <div class="invalid-tooltip">
                        Please provide a valid moo.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label text-right">หมู่บ้าน :</label>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <input type="text" class="form-control form-control-sm" id="txtvillage" />
                    <div class="invalid-tooltip">
                        Please provide a valid village name.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label text-right">อาคาร :</label>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <input type="text" class="form-control form-control-sm" id="txtbuilding" />
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label text-right">ชั้น :</label>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <input type="text" class="form-control form-control-sm" id="txtfloor" />
                </div>
                <label class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-form-label text-center">ห้อง :</label>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <input type="text" class="form-control form-control-sm" id="txtroom" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label text-right">ซอย :</label>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <input type="text" class="form-control form-control-sm" id="txtsoi" />
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label text-right">ถนน :</label>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <input type="text" class="form-control form-control-sm" id="txtroad" />
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label text-right">ประเทศ :<span style="color:red">*</span></label>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <select class="custom-select inputValidationAddress custom-select-sm" id="ddlcountry" required>
                        <option value="">กรุณาเลือก</option>
                        <option value="THA">Thailand</option>
                    </select>
                    <div class="invalid-tooltip">กรุณาระบุประเทศ</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label text-right">ภาค :<span style="color:red">*</span></label>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <select class="custom-select inputValidationAddress custom-select-sm" id="ddlzone" required>
                        <option></option>
                    </select>
                    <div class="invalid-tooltip">
                        กรุณาระบุภาค
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label text-right">จังหวัด :<span style="color:red">*</span></label>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <select class="custom-select inputValidationAddress custom-select-sm" id="ddlprovince" required>
                    </select>
                    <div class="invalid-tooltip">
                        กรุณาระบุจังหวัด
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label text-right">อำเภอ/เขต :<span style="color:red">*</span></label>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <select class="custom-select inputValidationAddress custom-select-sm" id="ddldistrict" required>
                    </select>
                    <div class="invalid-tooltip">
                        กรุณาระบุอำเภอ/เขต
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label text-right">ตำบล/แขวง :<span style="color:red">*</span></label>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <select class="custom-select inputValidationAddress custom-select-sm" id="ddlsubdistrict" required>
                    </select>
                    <div class="invalid-tooltip">
                        กรุณาระบุตำบล/แขวง
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label text-right">รหัสไปรษณีย์ :<span style="color:red">*</span></label>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <select class="custom-select inputValidationAddress custom-select-sm" id="ddlzipcode" required>
                    </select>
                    <div class="invalid-tooltip">กรุณาระบุรหัสไปรษณีย์</div>
                </div>

            </div>

        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <div class="d-flex align-items-center justify-content-center h-100" role="group">
            <button class="btn-border btn-black mr-2" id="btnresetaddress" type="button">
                <i class="fa fa-refresh icon"></i><span>รีเช็ต</span>
            </button>
            <button class="btn-border btn-green" id="btnaddaddress" type="button">
                <i class="fa fa-plus-circle icon"></i><span>เพิ่มที่อยู่</span>
            </button>
        </div>

    </div>

</div>

<div class="row needs-validation-step2-table" novalidate>
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <div class="table-responsive pt-3" style="overflow-y:hidden;">
            <table class="table table-bordered table-hover inputValidationAddress" id="tbaddressstep2" width="100%" required>
                <thead class="thead-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">ประเภทที่อยู่</th>
                        <th scope="col">ที่อยู่</th>
                        <th scope="col"></th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>