@{
Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}
<style>
    .hr-sect {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        color: rgba(0, 0, 0, 0.35);
        margin: 8px 0px;
    }

        .hr-sect::before,
        .hr-sect::after {
            content: "";
            flex-grow: 1;
            background: rgba(0, 0, 0, 0.35);
            height: 1px;
            font-size: 0px;
            line-height: 0px;
            margin: 0px 8px;
        }
</style>
<div class="login-container">
    <div class="row justify-content-center">
        <div class="grid-margin stretch-card col-md-6 ">

            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-header bg-white">
                    <img src="~/img/ais.png" style="height:39px;width:104px;" class="mr-2" alt="logo" />
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                            <p class="font-weight-bolder lead">Sign in</p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6" align="right">
                            <div class="form-group">
                                <a href="#" class="font-weight-bolder lead">Forget Password?</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
                            <div class="form-group">
                                <input type="text" id="txtusername" class="form-control" placeholder="User ID" value="" />

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
                            <div class="form-group">
                                <div class="input-group p-0 ">
                                    <input type="password" id="txtpassword" class="form-control" name="password" autocomplete="new-password" placeholder="Password">
                                    <div class="input-group-append input-group-addon ">
                                        <span class="input-group-text px-4 toggle-password"><i class="fa fa-eye-slash"></i></span>
                                    </div>


                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
                            <div class="form-group">
                                <div class="form-check form-check-flat form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="chkkeep">
                                        Keep me sign in
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                        
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary btn-block" id="btnsignin">Sign in</button>
                        </div>

                        <div class="form-group">
                            <div class="hr-sect">New Account</div>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn btn-secondary btn-block" id="btnnewregis">Create new register subcontract profile</button>
                        </div>
                    
                </div>
            </div>





        </div>
    </div>
    


</div>


<script type="text/javascript">
    $(document).ready(function () {

        $('.toggle-password').click(function () {
            $(this).children().toggleClass('fa-eye-slash fa-eye');
            let input = $(this).prev();
            $('#txtpassword').attr('type', $('#txtpassword').attr('type') === 'password' ? 'text' : 'password');
          
        });
    });

</script>