
@{
    // Layout = "~/Views/Shared/_LayoutRegister.cshtml";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!-- Include SmartWizard CSS -->
<link href="~/dist/css/smart_wizard.css" rel="stylesheet" type="text/css" />

<!-- Optional SmartWizard theme -->
<link href="~/dist/css/smart_wizard_theme_arrows.css" rel="stylesheet" type="text/css" />

<!-- Include SmartWizard JavaScript source -->
<script type="text/javascript" src="~/dist/js/jquery.smartWizard.min.js"></script>

<div id="controllername" data-url="@Url.Action("Action", "Account")"></div>

<div class="row justify-content-center">
    <div class="grid-margin stretch-card col-md-12 ">
        @*<div class="card shadow p-3 mb-5 bg-white rounded">*@
        <div class="form-group my-4">
            <div class="card-header bg-white">
                <h3>สมัครใช้บริการ สำหรับ Subcontract Profile และ Dealer</h3>
            </div>
        </div>

        @*<button class=" btn btn-danger" type="button" id="btnTestNas" >TEST NAS</button>*@
        @*<div class="card-body">*@

        @*<div class="form-group">*@
        <div id="smartwizard">
            <ul>
                <li><a href="#step-1">ระบุข้อมูลผู้ใช้บริการ</a></li>
                <li><a href="#step-2">ระบุข้อมูลที่อยู่บริษัท</a></li>
                <li><a href="#step-3">ระบุข้อมูลติดต่อบริษัท </a></li>
                <li><a href="#step-4">ระบุข้อมูลบัญชีธนาคาร </a></li>
                <li><a href="#step-5">ตรวจสอบรายละเอียด</a></li>
            </ul>
            <div>
                @*<div class="alert alert-danger toast hide"  data-autohide="false" id="idmsAlert" style="position: absolute; top: 0; right: 0;">
                        <div class="alert-danger">
                            <strong class="mr-auto text-primary"></strong>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
                        </div>
                        <div class="toast-body">
                            <strong>กรุณาระบุข้อมูลให้ครบถ้วน</strong>
                        </div>
                    </div>*@

                @*<div class="alert alert-danger alert-dismissible fade show" role="alert" id="idmsAlert">
                        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>*@

                <div id="step-1">

                    @await Html.PartialAsync("_PartialStep1")

                </div>
                <div id="step-2">

                    @await Html.PartialAsync("_PartialStep2")

                </div>
                <div id="step-3">

                    @await Html.PartialAsync("_PartialStep3")

                </div>
                <div id="step-4">

                    @await Html.PartialAsync("_PartialStep4")

                </div>
                <div id="step-5">

                    @await Html.PartialAsync("_PartialStep5")

                </div>
            </div>

        </div>

        <br />

        @*</div>*@
        <div class="row mt-2">

            <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12 ">


                <div role="group" class="d-flex float-right" style="margin-right:10px">
                    @*<button class="btn btn-secondary" id="prev-btn" type="button">ย้อนกลับ</button>
        <button class="btn btn-danger" id="reset-btn" type="button">ล้างข้อมูล</button>
        <button class="btn btn-success" id="next-btn" type="button">ถัดไป</button>*@

                    <button class="btn-border btn-black mr-2" id="cancel-btn" onclick="window.location='@Url.Action( "Login", "Account")'" type="button">
                        <i class="fa fa-ban icon"></i><span>ยกเลิก</span>
                    </button>

                    <button class="btn-border btn-gray mr-2" id="prev-btn" type="button">
                        <i class="fa fa-undo icon"></i><span>ย้อนกลับ</span>
                    </button>

                    <button class="btn-border btn-green" id="next-btn" type="button">
                        <i class="fa fa-forward icon"></i><span>ถัดไป</span>
                    </button>
                    <button class="btn-border btn-green" id="btnregis" type="button" style="display:none;">
                        <i class="fa fa-sign-in icon"></i><span>สมัคร</span>
                    </button>

                </div>
            </div>
        </div>
        @*</div>*@

    </div>
</div>

<script src="~/Scripts/View/Register.js"></script>