@{
    ViewData["Title"] = "VerifyPayment";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="skills layout-spacing">
        <div class="widget-content widget-content-area">
            <h3 class="">Search Payment Verify</h3>
            <div class="widget-content1">
                <div class="form-row mb-4">
                    <div class="form-group col-md-6">
                        <label for="txtcompanyname">Company name</label>
                        <input type="text" class="form-control" id="txtcompanyname" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txttaxid">Tax ID</label>
                        <input type="text" class="form-control" id="txttaxid" />
                    </div>
                    @*<div class="form-group col-md-6">
                        <label for="txttaxid">Location Name</label>
                        <select class="form-control" id="ddlLocation"></select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txttaxid">Team Name</label>
                        <select class="form-control" id="ddlTeam"></select>
                    </div>*@
                    <div class="form-group col-md-6">
                        <label for="txttaxid">Payment No</label>
                        <input type="text" class="form-control" id="txtpayment" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txttaxid">Status</label>
                        <select class="form-control" id="ddlStatus">
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txttaxid">Payment Date From</label>
                        <div class='input-group date p-0' id='paymentdatefrom'>
                            <input type='text' class="form-control" id="datepaymentfrom" />
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text px-4">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txttaxid">Payment Date To</label>
                        <div class='input-group date p-0' id='paymentdatefto'>
                            <input type='text' class="form-control" id="datepaymentto" />
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text px-4">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div style="text-align:center">

                    <button id="btnclear" type="button" class="btn btn-dark mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg> ล้างข้อมูล</button>
                    <button id="btnSearch" type="button" class="btn btn-success mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>  ค้นหาข้อมูล</button>

                </div>
            </div>
            <br />
            <div class="widget-heading">
                <h3 class="">ผลการค้นหา</h3>

            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4" id="tbSearchResult">
                    <thead>
                        <tr>
                            <th scope="col">Action</th>
                            <th scope="col">Payment No</th>
                            <th scope="col">Company Name</th>
                            <th scope="col">Tax ID</th>
                            @*<th scope="col">Location Name</th>
                            <th scope="col">Team Name </th>
                            <th scope="col">Engineer Name</th>*@
                            <th scope="col">Paid Date Time</th>
                            <th scope="col">Payment Status</th>
                            <th scope="col">ยอดโอน(บาท)</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="VerifyPaymentModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="hTitleEdit" class="modal-title">Confirm Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="frNew" class="needs-validation" novalidate>
                    <div class="container">

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>Company Name:</label>
                            </div>
                            <div class="col-sm-7">
                                <label id="lblcompanyName"></label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>Payment No:</label>
                            </div>
                            <div class="col-sm-4">
                                <label id="lbpaymentno"></label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>ช่องทางการชำระเงิน </label>  <span style="color:red">*</span>
                            </div>
                            <div class="col-sm-7">
                                <select class="form-control" id="ddlpaymenttransfer"></select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-7 rdbank_payment">

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>วันที่ชำระเงิน </label>  <span style="color:red">*</span>
                            </div>
                            <div class="col-sm-7">
                                <div class='input-group date p-0' id='datetimepicker'>
                                    <input type='text' class="form-control" id="dateverify" />
                                    <div class="input-group-append input-group-addon">
                                        <span class="input-group-text px-4">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>เวลาชำระเงิน </label>  <span style="color:red">*</span>
                            </div>
                            <div class="col-sm-7">
                                <div class='input-group date p-0 ' id='timepicker'>
                                    <input type='text' class="form-control" id="timepayverify" />
                                    <div class="input-group-append input-group-addon">
                                        <span class="input-group-text px-4">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>ยอดเงินที่โอน (B) </label>  <span style="color:red">*</span>
                            </div>
                            <div class="col-sm-7">
                                <input type='text' id="txtBalance" value="1000" class="form-control" disabled />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>ธนาคารต้นทางที่โอน </label>  <span style="color:red">*</span>
                            </div>
                            <div class="col-sm-7">
                                <select class="form-control" id="ddlbank"></select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>สาขา </label>  <span style="color:red">*</span>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="txtbranch" placeholder="" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>หลักฐานการโอนเงิน </label>  <span style="color:red">*</span>
                            </div>
                            <div class="col-sm-7">
                                <input type="hidden" id="hdupfiletransfer" />
                                <input type="file" class="custom-file-input inputValidation" id="transfer_file" required
                                       accept="image/jpeg,image/gif,image/png,application/pdf" />
                                <label class="custom-file-label" for="customFile" id="lbuploadslip">Choose file</label>

                                <div id="targetDiv">
                                    @*<img id="ItemPreview" src="" class="img-thumbnail" style="width: 300px; height: 300px;"/>*@
                                    <a id="linkdownload" href="#" target="_blank"></a>
                                </div>
                              

                                <small id="uploadlHelp1" class="form-text text-muted">
                                    ขนาดไฟล์ไม่เกิน 3 Mb และไฟล์ประกอบประเภท PDF หรือ JPG,JPEG,PNG เท่านั้น
                                </small>
                                <small id="uploadlHelp1" style="color:red">การใช้หลักฐานปลอม มีความผิดตาม พรบ.คอมพิวเตอร์</small>
                                <div class="invalid-tooltip">Please Upload the Silp</div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>หมายเหตุ </label>
                            </div>
                            <div class="col-sm-7">
                                <textarea id="txtremark" name="remark" rows="3" class="form-control"> </textarea>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="container">
                        <h4>สำหรับเจ้าหน้าที่ AIS</h4>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>Payment Status</label>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control" id="ddlpaymentstatusais">
                                    <option value="">Please Select</option>
                                    <option value="Y">Paid</option>
                                    <option value="N">Not Paid</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>Verify Date</label>
                            </div>
                            <div class="col-sm-7">
                                <div class='input-group date p-0' id='datetimepickerais'>
                                    <input type='text' class="form-control" id="dateverifyais" />
                                    <div class="input-group-append input-group-addon">
                                        <span class="input-group-text px-4">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <label>Remark </label>
                            </div>
                            <div class="col-sm-7">
                                <textarea id="txtremarkais" name="remark" rows="3" class="form-control"> </textarea>
                            </div>
                        </div>
                    </div>

                    <br />


                    <input type="hidden" id="hdpaymentId">
                    <input type="hidden" id="hdCompanyId">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnClearModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power"><path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path><line x1="12" y1="2" x2="12" y2="12"></line></svg>
                            ปิด
                        </button>
                        <button id="btnSave" type="button" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
                                บันทึก
                         </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


    <script src="~/Scripts/View/VerifyPayment.js"></script>