@{
    ViewData["Title"] = "VerifyPayment";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="skills layout-spacing">
        <div class="widget-content widget-content-area">
            <h3 class="">Search Payment Verify</h3>
            <div class="widget-content1">
                <div class="form-row mb-4">
                    <div class="form-group col-md-6">
                        <label for="txtcompanyname">Company name</label>
                        <input type="text" class="form-control" id="txtcompanyname" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txttaxid">Tax ID</label>
                        <input type="text" class="form-control" id="txttaxid" />
                    </div>
                    @*<div class="form-group col-md-6">
                        <label for="txttaxid">Location Name</label>
                        <select class="form-control" id="ddlLocation"></select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txttaxid">Team Name</label>
                        <select class="form-control" id="ddlTeam"></select>
                    </div>*@
                    <div class="form-group col-md-6">
                        <label for="txttaxid">Payment No</label>
                        <input type="text" class="form-control" id="txtpayment" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txttaxid">Status</label>
                        <select class="form-control" id="ddlStatus">
                            <option value="">Please Select</option>
                            <option value="Y">Paid</option>
                            <option value="N">Not Paid</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txttaxid">Payment Date From</label>
                        <div class='input-group p-0 date' id='paymentdatefrom'>
                            <input type='text' class="form-control" id="datepaymentfrom" />
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text px-4">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txttaxid">Payment Date To</label>
                        <div class='input-group p-0 date' id='paymentdatefto'>
                            <input type='text' class="form-control" id="datepaymentto" />
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text px-4">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div style="text-align:center">

                    <button id="btnclear" type="button" class="btn btn-dark mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg> ล้างข้อมูล</button>
                    <button id="btnSearch" type="button" class="btn btn-success mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>  ค้นหาข้อมูล</button>

                </div>
            </div>
            <br />
            <div class="widget-heading">
                <h3 class="">ผลการค้นหา</h3>

            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4" id="tbSearchResult">
                    <thead>
                        <tr>
                            <th scope="col">Action</th>
                            <th scope="col">Payment No</th>
                            <th scope="col">Company Name</th>
                            <th scope="col">Tax ID</th>
                            @*<th scope="col">Location Name</th>
                            <th scope="col">Team Name </th>
                            <th scope="col">Engineer Name</th>*@
                            <th scope="col">Paid Date Time</th>
                            <th scope="col">Payment Status</th>
                            <th scope="col">ยอดโอน(บาท)</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


    <script src="~/Scripts/View/VerifyPayment.js"></script>


<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <p class="h5"><strong>Confirm Payment</strong></p>

        </div>
    </div>
    <div class="row mt-3  mb-5">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
            <div class=" col-md-12 mt-3 ">
                <div class="row">
                    <div class="col-md-5">
                        <p class="">Company Name:</p>
                    </div>
                    <div class="col-md-7">
                        <p class="">xxxxxxxxxxxxxxxxxxxxxxxx</p>
                    </div>
                </div>
            </div>
            <div class=" col-md-12 mt-4 ">
                <div class="row">
                    <div class="col-md-5">
                        <p class="">Payment No:</p>
                    </div>
                    <div class="col-md-7">
                        <p class="">000001</p>
                    </div>
                </div>
            </div>
            <div class=" col-md-12 mt-4 ">
                <div class="row">
                    <div class="col-md-5">
                        <p class="">ช่องทางการชำระเงิน*:</p>
                    </div>
                    <div class="col-md-7">
                        <select class="form-control" id="exampleSelectGender">
                            <option>โอนเงินผ่านบัญชีธนาคาร</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class=" col-md-12 mt-3 ">
                <div class="row">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12 ml-4">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                <p class=""> ธนาคารกรุงศรีอยุธยา ชื่อบัญชี xxxx สาขาลาดพร้าว99 เลขบีญชี 111-1-1111-1</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-12 mt-4  ">
                <div class="row">
                    <div class="col-md-5">
                        <p class="">วันที่ชำระเงิน*:</p>
                    </div>
                    <div class="col-md-7">
                        <div class='input-group date' id='datepicker3'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-12 mt-4  ">
                <div class="row">
                    <div class="col-md-5">
                        <p class="">เวลาชำระเงิน*:</p>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker3'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" col-md-12 mt-2  ">
                <div class="row">
                    <div class="col-md-5">
                        <p class="">ยอดเงินที่โอน (B)*:</p>
                    </div>
                    <div class="col-md-7">
                        <input type='text' style="background-color: #c1bdbd ;" value="1000" class="form-control" />
                    </div>
                </div>
            </div>
            <div class=" col-md-12 mt-4  ">
                <div class="row">
                    <div class="col-md-5">
                        <p class="">ธนาคารต้นทางที่โอน*:</p>
                    </div>
                    <div class="col-md-7">
                        <select class="form-control" id="exampleSelectGender">
                            <option>SCB</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class=" col-md-12 mt-4 ">
                <div class="row">
                    <div class="col-md-5">
                        <p class="">สาขา:</p>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" placeholder="" />
                    </div>
                </div>
            </div>
            <div class=" col-md-12 mt-4 ">
                <div class="row">
                    <div class="col-md-5">
                        <p class="">หลักฐานการโอนเงิน*</p>
                    </div>
                    <div class="col-md-7 ">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                            <label class="custom-file-label" for="validatedCustomFile"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-12 mt-3 ">
                <div class="row">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12 ml-0">
                                <p class="">ขนาดไฟล์ไม่เกิน 3 Mb และไฟล์ประกอบประเภท PDF หรือ JPG,JPEG,PNG เท่านั้น</p>
                                <p style="color:red">การใช้หลักฐานปลอม มีความผิดตาม พรบ.คอมพิวเตอร์</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-12 mt-3 ">
                <div class="row">
                    <div class="col-md-5">
                        <p>หมายเหตุ :</p>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12 ml-0">
                                <textarea id="w3review" name="w3review" rows="7" style="width:inherit;border-color:#E0E0E0"> </textarea>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <p class="h5"><strong>สำหรับเจ้าหน้าที่ AIS</strong></p>
            <hr />
        </div>
    </div>
    <div class="row mt-3  mb-5">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
            <div class=" col-md-12 mt-3 ">
                <div class="row">
                    <div class="col-md-5">
                        <p class="">Payment Status:</p>
                    </div>
                    <div class="col-md-7">
                        <select class="form-control" id="exampleSelectGender">
                            <option>Paid</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class=" col-md-12 mt-4 ">
                <div class="row">
                    <div class="col-md-5">
                        <p class="">Verify Date</p>
                    </div>
                    <div class="col-md-7">
                        <div class='input-group date' id='datepicker3'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>    
            <div class=" col-md-12 mt-4 ">
                <div class="row">
                    <div class="col-md-5">
                        <p>Remark :</p>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12 ml-0">
                                <textarea id="w3review" name="w3review" rows="3" style="width:inherit;border-color:#E0E0E0"> </textarea>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
<div class="container btn2 mt-5 mb-3" style="background-color:#E0E0E0; text-align:center">
    <div class="row">

        <div class="col-md-7 ">

        </div>

        <div class="col-md-5 col-sm-12 mt-2 mb-2">
            <div class="row">
                <div class="col-md-3  ">
                    
                </div>
                <div class="col-md-3  ml-3">
                    <button class="btn btn-secondary" style="width:120px;color:white">Close</button>
                </div>
                <div class="col-md-3  ml-3">
                    <button class="btn btn-success" style="width:120px">Submit</button>
                </div>
            </div>
        </div>


    </div>

</div>