


<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">Company Name :</label>
            <label class="col-sm-8 col-md-8 col-lg-8 col-xl-8 col-form-label text-left" id="lbcompanyname"></label>
        </div>
    </div>
</div>

<h4>Location</h4>
<hr>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4" id="tbtablocation" width="100%">
                <thead width="100%">
                    <tr width="100%">
                        <th class="text-center" width="5%">View</th>
                        <th width="10%">Register Type</th>
                        <th width="10%">Location Code</th>
                        <th width="20%">Location Name (TH)</th>
                        <th width="20%">Location Name (EN)</th>
                        <th width="15%">Location Alias</th>
                        <th width="10%">Storage Location</th>
                        <th width="10%">Address</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>




    <div id="dataLocationModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="hTitleEdit" class="modal-title">ข้อมูล Location</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="frNew" class="needs-validation" novalidate>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Company Name:</label>
                                </div>
                                <div class="col-sm-10">
                                    <label id="lblcompanyName"></label>
                                </div>
                            </div>
                            @*<br />
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>Register Type:</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="radio" id="rdoCompanyTypeNew" name="CompType" value="newsub">
                                        <label for="new">New Subcontract</label>&nbsp;&nbsp;
                                        <input type="radio" id="rdoCompanyTypeDealer" name="CompType" value="dealer">
                                        <label for="deal">Dealer</label>
                                    </div>
                                </div>*@
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span>Location Code:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputLocationCode" style="width:300px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Location Code.
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span> Location Name Alias:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputLocationAlias" style="width:300px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Location Name Alias.
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span> Location Name(TH):</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputLocationNameT" style="width:300px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล  Location Name(TH).
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label>Location Name(EN):</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputLocationNameE" style="width:300px" class="form-control">
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Storage Location:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputStorage" style="width:300px" class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <label>Ship To:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputShip" style="width:300px" class="form-control">
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Out of Service Storage location:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inoutOutStorage" style="width:300px" class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <label>Vat branch Number:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputVat" style="width:300px" class="form-control">
                                </div>
                            </div>
                            <br />

                            <h5>Contract Phone</h5>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span> Phone No :</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputPhoneNo" style="width:300px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Phone No.
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span>  Company main contract phone:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputMainPhone" style="width:300px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Company main contract phone.
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span> Installations contract phone:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputInstallationsPhone" style="width:300px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Installations contract phone.
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span>  Maintenence contract phone:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputMaintenencePhone" style="width:300px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Maintenence contract phone.
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Inventory contract phone:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputInventoryPhone" style="width:300px" class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <label>Payment contract phone:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputPaymentPhone" style="width:300px" class="form-control">
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Etc contract phone:</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="text" id="inputEtcPhone" style="width:300px" class="form-control">
                                </div>
                            </div>
                            <br />

                            <h5>Contract Email</h5>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Company group mail:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="email" id="inputCompanyMail" style="width:300px" class="form-control">
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Email ให้ถูกต้อง
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label>Installation contract mail:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="email" id="inputInstallationMail" style="width:300px" class="form-control">
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Email ให้ถูกต้อง
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Maintanence contract mail:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="email" id="inputMaintanenceMail" style="width:300px" class="form-control">
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Email ให้ถูกต้อง
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label>Inventory contract mail:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="email" id="inputInventoryMail" style="width:300px" class="form-control">
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Email ให้ถูกต้อง
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Payment contract mail:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="email" id="inputPaymentMail" style="width:300px" class="form-control">
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Email ให้ถูกต้อง
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label>Etc contract mail:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="email" id="inputEtcMail" style="width:300px" class="form-control">
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Email ให้ถูกต้อง
                                    </div>
                                </div>
                            </div>
                            <br />

                            <h5>Address</h5>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Location Address:</label>
                                </div>
                                <div class="col-sm-4">
                                    <textarea id="inputLocationAddress" rows="2" style="width:300px;"></textarea>
                                </div>
                                <div class="col-sm-2">
                                    <label>Post Address:</label>
                                </div>
                                <div class="col-sm-4">
                                    <textarea id="inputPostAddress" rows="2" style="width:300px;"></textarea>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Tax Address:</label>
                                </div>
                                <div class="col-sm-4">
                                    <textarea id="inputTaxAddress" rows="2" style="width:300px;"></textarea>
                                </div><br />
                                <div class="col-sm-2">
                                    <label>WT Address:</label>
                                </div>
                                <div class="col-sm-4">
                                    <textarea id="inputWTAddress" rows="2" style="width:300px;"></textarea>
                                </div>
                            </div>
                            <br />

                            <h5>Bank </h5>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Bank code:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputBankCode" style="width:300px" class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span> Bank Name:</label>
                                </div>
                                <div class="col-sm-4">
                                    <div class="row col-sm-12">
                                        <input type="text" id="inputBankName" style="width:280px" class="form-control" required>
                                        <div class="invalid-feedback">
                                            กรุณากรอกข้อมูล Bank Name.
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span> Bank Account No:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputBankAccountNo" style="width:300px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Bank Account No.
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span> Bank Account Name:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputBankAccountName" style="width:300px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Bank Account Name.
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Bank Branch No:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputBankBranchNo" style="width:300px" class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span> Bank Branch Name:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputBankBranchName" style="width:300px" class="form-control" required>
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Bank Branch Name.
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label><span style="color:red">*</span> Bank Attach File:</label>
                                </div>
                                <div class="col-sm-10">
                                    <div class="row col-sm-5">

                                        <div class="custom-file mb-4">
                                            @*<input type="file" class="custom-file-input" id="inputBankAttach"
                                                       aria-describedby="uploadlHelp1" style="width:190px">
                                                <label class="custom-file-label" for="inputGroupFile01">เลือกไฟล์</label>*@

                                            <input type="file" class="custom-file-input" id="inputBankAttach" aria-describedby="uploadlHelp1" style="width:190px">
                                            <label class="custom-file-label" for="inputBankAttach">เลือกไฟล์</label>
                                            <small id="uploadlHelp1" class="form-text text-muted">ประเภทไฟล์ภาพที่รองรับ pdf,jpg,jpeg,bmp,gif,tif,tiff,png</small>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Panalty contract phone:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputPanaltyPhone" style="width:300px" class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <label>Panalty contract mail:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="email" id="inputPanaltyMail" style="width:300px" class="form-control">
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Email ให้ถูกต้อง
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <label> Contract phone:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="inputContractPhone" style="width:300px" class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <label> Contract email:</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="email" id="inputContractMail" style="width:300px" class="form-control">
                                    <div class="invalid-feedback">
                                        กรุณากรอกข้อมูล Email ให้ถูกต้อง
                                    </div>
                                </div>


                            </div>


                        </div>

                        <br />

                        <input type="hidden" id="hdMode">
                        <input type="hidden" id="hdLocationId">
                        <input type="hidden" id="hdCompanyId">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power"><path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path><line x1="12" y1="2" x2="12" y2="12"></line></svg>
                                ปิด
                            </button>
                            @*<button id="btnSave" type="submit" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
                                บันทึก
                            </button>*@
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

