
<div class="row">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row mb-0">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">Company Name :</label>
            <label class="col-sm-8 col-md-8 col-lg-8 col-xl-8 col-form-label text-left">XXxxxxxxxxxx</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row mb-0">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">Location :</label>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                <select class="form-control form-control-sm" id="ddllocationteam">
                    <option>Selete All</option>
                    <option></option>
                    <option></option>
                    <option></option>
                </select>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row mb-0">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">Team :</label>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                <select class="form-control form-control-sm" id="ddlteam">
                    <option>Selete All</option>
                    <option></option>
                    <option></option>
                    <option></option>
                </select>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <p class="font-weight-bolder lead">
            Engineer
        </p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="tbengineer">
                <thead class="thead-light">
                    <tr>
                        <th>View</th>
                        <th>Register Type</th>
                        <th>Location Name</th>
                        <th>Team Name</th>
                        <th>Staff Name (TH)</th>
                        <th>Staff Name (En)</th>
                        <th>Position</th>
                        <th>Contract Phone 1 </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center"><a href="#"><i class="fa fa-search-plus"></i>View</a></td>
                        <td>Dealer</td>
                        <td>xxxx</td>
                        <td>xxxx</td>
                        <td>xxxxxxxxxxx</td>
                        <td>xxxxxxxxxxxx</td>
                        <td>xxxxxxxxxxxxxx</td>
                        <td>xxxxxxxxxxxxxxxxxxxx</td>

                    </tr>
                    <tr>
                        <td class="text-center"><a href="#"><i class="fa fa-search-plus"></i>View</a></td>
                        <td>Dealer</td>
                        <td>xxxx</td>
                        <td>xxxx</td>
                        <td>xxxxxxxxxxx</td>
                        <td>xxxxxxxxxxxx</td>
                        <td>xxxxxxxxxxxxxx</td>
                        <td>xxxxxxxxxxxxxxxxxxxx</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>