
<div class="row pt-0 pb-0">
    <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-left">Company Name :</label>
            <label class="col-sm-8 col-md-8 col-lg-8 col-xl-8 col-form-label text-left">XXxxxxxxxxxx</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <p class="font-weight-bolder lead">
            Location
        </p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="tblocation">
                <thead class="thead-light">
                    <tr>
                        <th>View</th>
                        <th>Register Type</th>
                        <th>Location Code</th>
                        <th>Location Name (TH)</th>
                        <th>Location Name (EN)</th>
                        <th>Location Alias</th>
                        <th>Storage Location</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center"><a href="#"><i class="fa fa-search-plus"></i>View</a></td>
                        <td>New Subcontract</td>
                        <td>10001</td>
                        <td>xxxxxxxxxxx</td>
                        <td>xxxxxxxxxxx</td>
                        <td>xxxxxxxxxxxxxxxxx</td>
                        <td>xxxxxxxxxxx</td>
                        <td>xxxxxxxxxxxxxxxxxxxxxx</td>
                    </tr>
                    <tr>
                        <td class="text-center"><a href="#"><i class="fa fa-search-plus"></i>View</a></td>
                        <td>New Subcontract</td>
                        <td>10002</td>
                        <td>xxxxxxxxxxxxxx</td>
                        <td>xxxxxxxxxxxxxxx</td>
                        <td>xxxxxxxxx</td>
                        <td>xxx</td>
                        <td>xxxxxxxxxxxxxxxxxx</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>