


        <div class="row pt-0 pb-0">
            <div class="col-md-6 col-sm-6 col-xl-6 col-lg-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label text-right">Company Name :</label>
                    <label class="col-sm-8 col-md-8 col-lg-8 col-xl-8 col-form-label text-left" id="lbcompanyname"></label>
                </div>
            </div>
        </div>

        <h4>Location</h4>
        <hr>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4" id="tbtablocation" width="100%">
                        <thead  width="100%">
                            <tr width="100%">
                                <th class="text-center" width="5%">View</th>
                                <th width="10%">Register Type</th>
                                <th width="10%">Location Code</th>
                                <th width="20%">Location Name (TH)</th>
                                <th width="20%">Location Name (EN)</th>
                                <th width="15%">Location Alias</th>
                                <th width="10%">Storage Location</th>
                                <th width="10%">Address</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>