@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Company Verify";

}
@*<link rel="stylesheet" type="text/css" href="plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="plugins/table/datatable/dt-global_style.css">
    <link rel="stylesheet" type="text/css" href="plugins/table/datatable/custom_dt_multiple_tables.css">*@

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="skills layout-spacing">


        <div class="widget-content widget-content-area">
            <h3 class="">Search Company Verify</h3>

            <div class="widget-content1">
                <div class="form-row mb-4">


                    <div class="form-group col-md-12">
                        <label for="inputEmail4">ประเภทผู้สมัคร</label> <br />
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="rdoCustomerTypeAll" name="customRadioSucRegis" class="custom-control-input" value="ALL">
                            <label class="custom-control-label" for="rdoCustomerTypeAll">All</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="rdoCustomerTypeSub" name="customRadioSucRegis" class="custom-control-input" value="NewSubContract">
                            <label class="custom-control-label" for="rdoCustomerTypeSub">New Subcontract</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="rdoCustomerTypeDealer" name="customRadioSucRegis" class="custom-control-input" value="Dealer">
                            <label class="custom-control-label" for="rdoCustomerTypeDealer">Dealer</label>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="txttaxid">Tax ID</label>
                        <input type="text" class="form-control" id="txttaxid" />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="txtcompanyname">Company name</label>
                        <input type="text" class="form-control" id="txtcompanyname" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ddldistribution">Distribution Channel</label>
                        <select class="form-control" id="ddldistribution">
                            <option value="">Select Distribution Channel</option>
                            <option>Channel1</option>
                            <option>Channel2</option>
                            <option>Channel3</option>
                            <option>Channel4</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ddlchannelsalegroup">Channel Sale Group</label>
                        <select class="form-control" id="ddlchannelsalegroup">
                            <option value="">Select Channel Sale Group</option>
                            <option>Group1</option>
                            <option>Group2</option>
                            <option>Group3</option>
                            <option>Group4</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtcompanyname">Register Date From</label>
                        <div class='input-group p-0 date' id='regisdatefrom'>
                            <input type='text' class="form-control" id="dateregisfrom" />
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text px-4">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtcompanyname">Register Date To</label>
                        <div class='input-group p-0 date' id='regisdateto'>
                            <input type='text' class="form-control" id="dateregisto" />
                            <div class="input-group-append input-group-addon">
                                <span class="input-group-text px-4">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtvendercode">Vender Code</label>
                        <input type="text" class="form-control" id="txtvendercode" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ddlStatus">Status</label>
                        <select class="form-control" id="ddlStatus">
                        </select>
                    </div>

                </div>
                <div style="text-align:center">

                    <button id="btnclear" type="button" class="btn btn-dark mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg> ล้างข้อมูล</button>
                    <button id="btnSearch" type="button" class="btn btn-success mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>  ค้นหาข้อมูล</button>

                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
                        <div class="" role="group">
                            <button class="btn btn-success float-right" type="button" id="btnverifycompany">
                                @*onclick="location.href='@Url.Action("CompanyVerify", "Registration" ,new {id=1 })'">*@
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em"
                                     style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet"
                                     viewBox="0 0 512 512">
                                    <path fill="white" d="M199.066 456l-7.379-7.514l-3.94-3.9l-86.2-86.2l.053-.055l-83.664-83.666l97.614-97.613l83.565 83.565L398.388 61.344L496 158.958L296.729 358.229l-11.26 11.371zM146.6 358.183l52.459 52.46l.1-.1l.054.054l52.311-52.311l11.259-11.368l187.963-187.96l-52.358-52.358l-199.273 199.271l-83.565-83.565l-52.359 52.359l83.464 83.463z" />
                                </svg> Verify Company
                            </button>
                        </div>

                    </div>

                </div>
            </div>

            <br />
            <div class="widget-heading">
                <h3 class="">ผลการค้นหา</h3>

            </div>
            <div class="table-responsive">
                <table id="tbSearchComVerifyResult" class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th></th>
                            <th>Status</th>
                            <th>Register Type</th>
                            <th>Tax ID</th>
                            <th>Company Name (TH)</th>
                            <th>Company Name (EN)</th>
                            <th>Vender Code</th>
                            <th>Distribution Channel</th>
                            <th>Channel Sale Group</th>
                            <th>Register Date</th>
                            <th>Verify Date</th>
                            <th>Verify By</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>






@section scripts
{

    <script src="~/Scripts/View/SearchCompanyVerify.js"></script>
    @*<script type="text/javascript">
            $(document).ready(function () {
                $('#regisdatefrom').datepicker({
                    format: 'dd/mm/yyyy',
                    daysOfWeekHighlighted: "6,0",
                    autoclose: true,
                    todayHighlight: true,
                    clearBtn: true,
                });
                $('#regisdateto').datepicker({
                    format: 'dd/mm/yyyy',
                    daysOfWeekHighlighted: "6,0",
                    autoclose: true,
                    todayHighlight: true,
                    clearBtn: true,

                });

                //$('#btnverifycompany').click(function () {
                //    $.ajax({
                //        type: "POST",
                //        url: "/Registration/CompanyVerify",
                //        data: {
                //            id: 1
                //        },
                //        dataType: "json",
                //        async: false,
                //        success: function (response) {


                //        },
                //        error: function (response) {
                //            console.log(response)
                //        }
                //    });
                //});
            });
        </script>*@

}
